$color_prime: #f3f4f4;
$color_second: #4b79a1;
$color_dark: #171a20;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: iransans_regular, Arial, sans-serif;
}
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: iransans_black;
  src: url(../asset/IRANSansXBlack.ttf);
}

@font-face {
  font-family: iransans_regular;
  src: url(../asset/IRANSansXRegular.ttf);
}
.unset {
  all: unset !important;
}
.displayTrans {
  transition: visibility 0.5s, opacity 0.1s linear;
}
.checkWrapp {
  .checkMark {
    &::before {
      content: " ";
      transition: all 0.2s;
      position: absolute;
      display: block;
      scale: 0;
      top: 9px;
      left: 4px;
      width: 13px;
      height: 2px;
      background-color: $color_prime;
      transform: rotate(-45deg);
    }

    &::after {
      content: " ";
      transition: all 0.2s;
      position: absolute;
      display: block;
      scale: 0;
      top: 10px;
      left: 4px;
      width: 2px;
      height: 4px;
      background-color: $color_prime;
      transform: rotate(-30deg);
    }
  }

  input {
    &:checked {
      ~ .checkMark {
        &::after,
        &::before {
          scale: 1;
        }
      }
    }
  }
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: $color_dark;
  background-color: $color_prime;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  transition: opacity 0.1s ease-in-out;
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
}

.loading-enter {
  opacity: 1;
  pointer-events: all;
}

.loading-exit {
  opacity: 0;
  pointer-events: none;
}

.text-fake-border {
  text-shadow: 0px 4px 3px #000000;
}
