/* Add this to your styles or CSS file */

.glightbox .gclose {
  color: white;
  font-size: 24px;
}

.glightbox .gprev,
.glightbox .gnext {
  color: white;
  font-size: 24px;
}

.glightbox .gclose:hover,
.glightbox .gprev:hover,
.glightbox .gnext:hover {
  color: #f0f0f0;
}
