h1,
h2,
h3 {
  font-weight: 900;
}
.ul {
  &::marker {
    color: $color_dark;
  }
}

.splide {
  &__pagination__page {
    width: 20px !important;
    border-radius: 0 !important;
  }
  &__arrow {
    border-radius: 0 !important;
    background-color: rgb(2 6 23) !important;
    opacity: 50%;
    svg {
      fill: rgb(100 116 139) !important;
    }
  }
}
