h1,
h2,
h3 {
  @apply font-bold;
}
.ul {
  &::marker {
    @apply text-slate-900;
  }
}
.splide__arrow {
  border-radius: 0 !important;
  background-color: rgb(2 6 23) !important;
  opacity: 50%;
  svg {
    fill: rgb(100 116 139) !important;
  }
}
